---
import { getSectionPath, SectionId } from "../../content";
import LinkItem from "../LinkItem.astro";
import T from "../T.astro";
---

<div>
	<LinkItem path={getSectionPath(SectionId.CATALOGUE)}
		><T k="catalogue.voir_tout" /></LinkItem
	>
</div>
