---
import { convertTitle, getOeuvre, getPath } from "../../helpers";

interface Props {
	oeuvres: string[];
}
const { oeuvres } = Astro.props;
---

<div>
	<ul class="items-list">
		{
			oeuvres.map((oeuvreName, i) => {
				const oeuvre = getOeuvre(convertTitle(oeuvreName));
				return (
					<li>
						<a href={getPath(oeuvre)}>{oeuvreName}</a>
					</li>
				);
			})
		}
	</ul>
</div>
