---
import {
	getOeuvre,
	convertTitle,
	getPath,
	getOeuvreByTitre,
} from "../../content";

interface Props {
	oeuvres: string[];
}
const { oeuvres } = Astro.props;
---

<div>
	<ul class="items-list">
		{
			oeuvres.map((oeuvreName, i) => {
				const oeuvre = getOeuvreByTitre(oeuvreName)!;
				return (
					<li>
						<a class="link-heading" href={getPath(oeuvre)}>
							{oeuvreName}
						</a>
					</li>
				);
			})
		}
	</ul>
</div>

<style></style>
