---
import { getCatalogue } from "../../helpers";
import T from "../T.astro";
import Categories from "./Categories.astro";
import Instruments from "./Instruments.astro";

const catalogue = getCatalogue();
---

<div class="catalogue-section">
	<div class="catalogue-all">
		<ul class="items-list">
			<li>
				<a href="/catalogue" class="link-heading"
					><T k="toutes_les_oeuvres" />
					<span class="count">({catalogue.length})</span></a
				>
			</li>
		</ul>
	</div>
	<div class="catalogue-categories">
		<Categories limit={5} />
		<Instruments limit={5} />
	</div>
	<!-- <div class="home-section-link">
		<a href={getSectionPath((SectionId.CATALOGUE))}>Voir plus…</a>
	</div> -->
</div>

<style is:global>
	.catalogue-section {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
	.catalogue-categories {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--doubleSpacing);
	}
	.count {
		font-weight: normal;
	}
	ul.items-list {
		.link-heading {
			font-size: 0.9rem;
		}
	}
</style>
