---
import { getPath, getOeuvreByTitre, getOeuvreById } from "../../content";
import LinkItem from "../LinkItem.astro";

interface Props {
	oeuvres: Array<{ id: string }>;
}
const { oeuvres } = Astro.props;
---

<div>
	<ul class="items-list">
		{
			oeuvres.map(({ id }) => {
				// TODO: decide if we're using id or titre to index oeuvres
				const oeuvre = getOeuvreByTitre(id) || getOeuvreById(id);

				return oeuvre ? (
					<li>
						<LinkItem
							path={getPath(oeuvre)}
							content={oeuvre.titre}
						/>
					</li>
				) : (
					<li class="missing-link">{id}</li>
				);
			})
		}
	</ul>
</div>

<style></style>
