---
import {
	getOeuvre,
	convertTitle,
	getPath,
	getOeuvreByTitre,
} from "../../content";
import LinkItem from "../LinkItem.astro";

interface Props {
	titres?: string[];
}

const { titres } = Astro.props;
---

{
	titres && titres.length > 0 ? (
		<div>
			<ul class="items-list">
				{titres.map((titre) => {
					const oeuvre = getOeuvreByTitre(titre)!;
					return (
						<li>
							<LinkItem path={getPath(oeuvre)} content={titre} />
						</li>
					);
				})}
			</ul>
		</div>
	) : null
}
