---
import { getCatalogue } from "../../helpers";
import Categories from "./Categories.astro";
import Instruments from "./Instruments.astro";

const catalogue = getCatalogue();
---

<div class="catalogue-section">
	<div class="catalogue-all">
		<ul class="items-list">
			<li>
				<a href="/catalogue"
					>Toutes les oeuvres <span class="count"
						>({catalogue.length})</span
					></a
				>
			</li>
		</ul>
	</div>
	<div class="catalogue-categories">
		<Categories limit={8} />
		<Instruments limit={8} />
	</div>
	<!-- <div class="home-section-link">
		<a href={getSectionPath(getSection(SectionId.CATALOGUE))}>Voir plus…</a>
	</div> -->
</div>

<style>
	.catalogue-section {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
	.catalogue-categories {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing);
	}
	.count {
		font-weight: normal;
	}
</style>
