---
import {
	getOeuvre,
	convertTitle,
	getPath,
	getOeuvreByTitre,
} from "../../content";
import LinkItem from "../LinkItem.astro";

interface Props {
	oeuvres: string[];
}
const { oeuvres } = Astro.props;
---

<div>
	<ul class="items-list">
		{
			oeuvres.map((oeuvreName, i) => {
				const oeuvre = getOeuvreByTitre(oeuvreName)!;
				return (
					<li>
						<LinkItem path={getPath(oeuvre)} content={oeuvreName} />
					</li>
				);
			})
		}
	</ul>
</div>

<style></style>
