---
const { currentCategoryId, limit } = Astro.props;
import { capitalizeFirstLetter } from "../../helpers";
import { getCategories, getCategoryLink, getCatalogue } from "../../helpers";
import T from "../T.astro";

const allCategories = getCategories();
const categories = limit ? allCategories.slice(0, limit) : allCategories;
---

<div class="categories">
	<h3 class="items-list-heading">Catégories</h3>
	<ul class="items-list">
		{
			categories.map(({ id, count }) => {
				const isCurrent = id === currentCategoryId;
				return (
					<li class={isCurrent ? "category-current" : ""}>
						<a href={getCategoryLink(id)}>
							<T k={id} fallback={capitalizeFirstLetter(id)} />
							<span class="count">({count})</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</div>

<style type="text/scss">
	.categories .items-list {
		overflow-y: scroll;
		max-height: 80vh;
		overscroll-behavior: contain;
	}
	a {
		// font-weight: normal;
	}
	.category-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
</style>
