---
import { getEditeurs } from "../../content";
const { currentEditeurId, limit } = Astro.props;
import { capitalizeFirstLetter } from "../../content";
import { getEditeurCatalogLink } from "../../content";
import SidebarBlock from "../SidebarBlock.astro";
import T from "../T.astro";

const editeurs = getEditeurs();

const showMore = limit && limit <= editeurs.length;
---

<SidebarBlock k="catalogue.editeurs">
	<ul class="items-list">
		{
			editeurs.map(({ id, titre, count }) => {
				const isCurrent = id === currentEditeurId;
				return (
					<li class={isCurrent ? "editeur-current" : ""}>
						<a
							class="link-heading"
							href={getEditeurCatalogLink(id)}
						>
							{titre}
							<span class="count">({count})</span>
						</a>
					</li>
				);
			})
		}
		{
			showMore && (
				<li>
					<a href="/catalogue" class="link-heading">
						<T k="voir_plus" />
					</a>
				</li>
			)
		}
	</ul>
</SidebarBlock>

<style type="text/scss">
	.editeur-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
	p {
		margin-bottom: 0;
	}
</style>
