---
import { otherInstruments } from "../../helpers";
import { capitalizeFirstLetter, OTHER_INSTRUMENTS } from "../../helpers";
import { convertTitle, getCatalogue, intersection } from "../../helpers";

const { instrument, currentInstrumentId } = Astro.props;
const isCurrent = convertTitle(instrument) === currentInstrumentId;
const catalogue = getCatalogue();
let count;
if (instrument === OTHER_INSTRUMENTS) {
	count = catalogue.filter(
		(o) => intersection(otherInstruments, o.instruments || []).length > 0,
	).length;
} else {
	count = catalogue.filter((o) => o.instruments?.includes(instrument)).length;
}
---

<li class={isCurrent ? "instrument-current" : ""}>
	<a href={`/catalogue/instruments/${convertTitle(instrument)}`}
		>{capitalizeFirstLetter(instrument)} ({count})</a
	>
</li>

<style>
	.instrument-current {
		a {
			font-weight: bold;
		}
	}
</style>
