---
import Instrument from "../../components/catalogue/Instrument.astro";
import { getInstruments, OTHER_INSTRUMENTS } from "../../helpers";

const instruments = getInstruments();
const { currentInstrumentId } = Astro.props;
---

<div class="instruments">
	<h3>Instruments</h3>
	<ul class="items-list">
		{
			instruments.map((instrument) => (
				<Instrument
					instrument={instrument}
					currentInstrumentId={currentInstrumentId}
				/>
			))
		}
		<Instrument
			instrument={OTHER_INSTRUMENTS}
			currentInstrumentId={currentInstrumentId}
		/>
	</ul>
</div>

<style type="text/scss">
	.instruments .items-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--halfSpacing);
		row-gap: var(--quarterSpacing);
		overflow-y: scroll;
		max-height: 80vh;
		overscroll-behavior: contain;
	}
</style>
