---
import Instrument from "../../components/catalogue/Instrument.astro";
import { getInstruments } from "../../helpers";

const instruments = getInstruments();
const { currentInstrumentId } = Astro.props;
---

<div class="instruments">
	<h3>Instrument</h3>
	<ul class="items-list">
		{
			instruments.map((instrument) => (
				<Instrument
					instrument={instrument}
					currentInstrumentId={currentInstrumentId}
				/>
			))
		}
	</ul>
</div>

<style type="text/scss"></style>
