---
import { getInstrumentsGroups } from "../../helpers";
const { currentInstrumentId } = Astro.props;
import { capitalizeFirstLetter } from "../../helpers";
import { getInstrumentGroupLink, getCatalogue } from "../../helpers";
import T from "../T.astro";
---

<div class="instruments">
	<h3>Instruments</h3>
	<ul class="items-list">
		{
			getInstrumentsGroups().map((instrumentGroupId) => {
				const isCurrent = instrumentGroupId === currentInstrumentId;
				const count = getCatalogue({ instrumentGroupId }).length;
				return (
					<li class={isCurrent ? "instrument-current" : ""}>
						<h5>
							<a href={getInstrumentGroupLink(instrumentGroupId)}>
								<T
									k={instrumentGroupId}
									fallback={capitalizeFirstLetter(
										instrumentGroupId,
									)}
								/>
								<span class="count">({count})</span>
							</a>
						</h5>
						{/* {instruments.length > 1 && (
							<p>
								{instruments.map((i) => (
									<>
										<T k={i} />
										<span>, </span>
									</>
								))}
							</p>
						)} */}
					</li>
				);
			})
		}
	</ul>
</div>

<style type="text/scss">
	.instruments .items-list {
		overflow-y: scroll;
		max-height: 80vh;
		overscroll-behavior: contain;
	}
	.instrument-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
	h5 {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 0;
		font-size: 1rem;
	}
</style>
