---
import Oeuvre from "../../components/catalogue/Oeuvre.astro";
import { getCatalogue, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Catalogue">
	<h2>Catalogue</h2>
	{getCatalogue().map((oeuvre) => <Oeuvre id={oeuvre.id} />)}
</Layout>
