---
import Oeuvre from "../../components/catalogue/Oeuvre.compact.astro";
import { getCatalogue, pluralize, uniq } from "../../helpers";
import Layout from "../../layouts/Layout.astro";
import Instruments from "../../components/catalogue/Instruments.astro";
import SubgridLayout from "../../components/SubgridLayout.astro";

const catalogue = getCatalogue();

const years = uniq(catalogue.map((o) => o.date_comp)).toSorted();
const catalogueByYear = years.map((year) => ({
	year,
	items: catalogue.filter((o) => o.date_comp === year),
}));
---

<Layout title="Catalogue">
	<div class="grid">
		<main>
			<h2>
				Catalogue ({catalogue.length}
				{pluralize("oeuvre", catalogue.length)})
			</h2>
			{
				catalogueByYear.map(({ year, items }, index) => {
					return (
						<SubgridLayout>
							<h4 class="year-title" slot="col1">
								<span>{year}</span>
							</h4>
							<div class="items" slot="main">
								{items.map((oeuvre) => (
									<Oeuvre id={oeuvre.id} />
								))}
							</div>
						</SubgridLayout>
					);
				})
			}
		</main>
		<section class="sidebar">
			<div class="sidebar-contents">
				<Instruments />
			</div>
		</section>
	</div>
</Layout>

<style type="text/scss">
	.year-title {
		position: sticky;
		top: 0px;
		// background: #ffffffcc;
		font-size: 2rem;
	}
</style>
