---
import { getActualite } from "../../helpers";
import Date from "../Date.astro";

const { id } = Astro.props;
const actualite = getActualite(id);
const { titre, texte, date } = actualite;
---

<div>
	<Date date={date} />
	<h3>
		{titre}
	</h3>
	<div set:html={texte} />
</div>
