---
import { getActualite } from "../../helpers";
import Date from "../Date.astro";
import PageLayout from "../layouts/PageLayout.astro";

const { id } = Astro.props;
const actualite = getActualite(id);
const { titre, texte, date } = actualite;
---

<PageLayout>
	<span slot="page-heading">
		<Date date={date} />
		<h2 class="title">
			{titre}
		</h2>
	</span>
	<div slot="page-content" set:html={texte} />
</PageLayout>
