---
import { getActualite, getPath } from "../../content";
import { truncateWords } from "../../helpers";
import Date from "../Date.astro";

const { id, truncate = false } = Astro.props;
const actualite = getActualite(id);
const { titre, texte, date } = actualite;

const texte_ = truncate ? truncateWords(texte, 10) + "…" : texte;
---

<div>
	<Date date={date} />
	<h3 class="link-heading feed-heading">
		<a href={getPath(actualite)}>{titre}</a>
	</h3>
	<div set:html={texte_} />
</div>
