---
import { getActualite, getPath } from "../../helpers";
import Date from "../Date.astro";

const { id } = Astro.props;
const actualite = getActualite(id);
const { titre, texte, date } = actualite;
---

<div>
	<Date date={date} />
	<h3 class="link-heading feed-heading">
		<a href={getPath(actualite)}>{titre}</a>
	</h3>
	<div set:html={texte} />
</div>
