---
import { getCatalogue } from "../../content";
import { getEditeur, getPath } from "../../content";
import T from "../T.astro";

const { id } = Astro.props;
const editeur = getEditeur(id);
const { titre } = editeur;

const oeuvres = getCatalogue().filter((oeuvre) => oeuvre.editeur === titre);
---

<div>
	<h3 class="link-heading feed-heading">
		<a href={getPath(editeur)}>{titre}</a>
	</h3>
	<p>
		{oeuvres.length}
		<T k="oeuvre" kPlural="oeuvres" count={oeuvres.length} />
	</p>
</div>
