---
import { getCatalogue, getEditeur, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";

const { id } = Astro.props;
const editeur = getEditeur(id);
const { titre, commentaire } = editeur;

const oeuvres = getCatalogue().filter((oeuvre) => oeuvre.editeur === titre);
---

<div>
	<h1>
		{titre}
	</h1>

	<div set:html={commentaire} />
	<h4>Oeuvres</h4>
	<CatalogueRelated titres={oeuvres.map((o) => o.titre)} />
</div>
