---
import { getCatalogue } from "../../content";
import { getEditeur, getPath } from "../../content";
import FeedItemHeading from "../FeedItemHeading.astro";
import T from "../T.astro";

const { id } = Astro.props;
const editeur = getEditeur(id);
const { titre } = editeur;

const oeuvres = getCatalogue().filter((oeuvre) => oeuvre.editeur === titre);
---

<div>
	<FeedItemHeading path={getPath(editeur)} content={titre} />
	<p>
		{oeuvres.length}
		<T k="oeuvre" kPlural="oeuvres" count={oeuvres.length} />
	</p>
</div>
