---
import { getCatalogue, getSectionPath, SectionId } from "../../content";
import { getEditeur } from "../../content";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import PageLayout from "../layouts/PageLayout.astro";

const { id } = Astro.props;
const editeur = getEditeur(id);
const { titre, commentaire } = editeur;

const oeuvres = getCatalogue().filter((oeuvre) => oeuvre.editeur === titre);
---

<PageLayout
	sectionId={SectionId.EDITEURS}
	parentPath={getSectionPath(SectionId.EDITEURS)}
>
	<div slot="page-heading">
		<h2 class="title">
			{titre}
		</h2>
	</div>
	<div slot="page-content">
		<p set:html={commentaire} />
		<CatalogueRelated titres={oeuvres.map((o) => o.titre)} />
	</div>
</PageLayout>
