---
import { getConcert, getConcerts, getItemsStaticPaths } from "../../helpers";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return getItemsStaticPaths(getConcerts());
}

const { id } = Astro.params;
const concert = getConcert(id);

const { date, titre, commentaire } = concert;
---

<Layout title="Welcome to Astro.">
	<h1>
		{titre}
	</h1>
	<h2>{date}</h2>
	<div set:html={commentaire} />
</Layout>
