---
import { getConcertsWithIds } from '../../helpers';

import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <h2>Concerts</h2>
    {(getConcertsWithIds()).map(({id, titre}) => <div><h2><a href={id}>{titre}</a></h2></div>)}
</Layout>