---
import Concert from "../../components/concerts/Concert.compact.astro";
import PageLayout from "../../components/layouts/PageLayout.astro";
import SubgridLayout from "../../components/layouts/SubgridLayout.astro";
import { getConcerts, getItemsByYear } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
import type { ConcertWithId } from "../../types";

const concerts = getConcerts();
const concertsByYear = getItemsByYear<ConcertWithId>(concerts);
---

<Layout title="Concerts">
	<PageLayout
		><h2 slot="page-heading">Concerts</h2>
		{
			concertsByYear.map((yearItem) => (
				<SubgridLayout slot="page-content">
					<div slot="col1">
						<h4>{yearItem.year}</h4>
					</div>
					<div class="feed-items" slot="main">
						{yearItem.items.map((concert) => (
							<Concert id={concert.id} />
						))}
					</div>
				</SubgridLayout>
			))
		}
	</PageLayout>
</Layout>
