---
import Concert from "../../components/concerts/Concert.compact.astro";
import PageLayout from "../../components/layouts/PageLayout.astro";
import SubgridLayout from "../../components/layouts/SubgridLayout.astro";
import {
	getConcerts,
	getItemsByYear,
	customTransition,
	getSection2,
} from "../../helpers";
import { fade, slide } from "astro:transitions";
import { getSectionPath, getSection } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
import type { ConcertWithId } from "../../types";

const concerts = getConcerts();
const concertsByYear = getItemsByYear<ConcertWithId>(concerts);
const sectionId = "concerts";
const section = getSection2(sectionId)!;
---

<Layout title="Concerts">
	<PageLayout sectionId={sectionId}>
		{
			concertsByYear.map((yearItem) => (
				<SubgridLayout slot="page-content">
					<div slot="col1">
						<h4>{yearItem.year}</h4>
					</div>
					<div class="feed-items" slot="main">
						{yearItem.items.map((concert) => (
							<Concert id={concert.id} />
						))}
					</div>
				</SubgridLayout>
			))
		}
	</PageLayout>
</Layout>

<style>
	.section-concerts {
		background: pink;
	}
</style>
