---
import { getConcerts } from '../../helpers';

import Layout from '../../layouts/Layout.astro';
---

<Layout title="Concerts">
    <h2>Concerts</h2>
    {(getConcerts()).map(({id, titre}) => <div><h2><a href={id}>{titre}</a></h2></div>)}
</Layout>