---
import Concert from "../../components/concerts/Concert.astro";
import { getConcerts, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Concerts">
	<h2>Concerts</h2>
	{getConcerts().map((concert) => <Concert id={concert.id} />)}
</Layout>
