---
import { getSectionPath } from "../../content";
import { getPhotos, SectionId } from "../../content";
import T from "../T.astro";
import Photo from "./Photo.astro";

const photos = getPhotos();
---

<section>
	<div class="photos-section">
		{photos.slice(0, 6).map(({ id }) => <Photo id={id} />)}
	</div>

	<a
		class="home-section-link link-heading"
		href={getSectionPath(SectionId.PHOTOS)}><T k="voir_plus" /></a
	>
</section>

<style>
	.photos-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing);
	}
</style>
