---
import {  getEditeur, getEditeurs, getPaths } from '../../helpers'
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return getPaths(getEditeurs())
}

const { id } = Astro.params;
const editeur = getEditeur(id)
const {titre, commentaire} = editeur
---

<Layout title={titre}>
<h1>
{titre}
</h1>

<div set:html={commentaire}></div>
</Layout>