---
import Editeur from "../../components/editeurs/Editeur.astro";
import { getEditeurs } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Editeurs">
	<h2>Editeurs</h2>
	{getEditeurs().map((editeur) => <Editeur id={editeur.id} />)}
</Layout>
