@use "sass:map";

$breakpoints: (
	"sm": 640px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	"2xl": 1536px,
);

@mixin breakpointUnder($size) {
	@if map.has-key($breakpoints, $size) {
		@media (max-width: map.get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@error 'Invalid breakpoint size: #{$size}.';
	}
}

@mixin breakpointOver($size) {
	@if map.has-key($breakpoints, $size) {
		@media (min-width: map.get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@error 'Invalid breakpoint size: #{$size}.';
	}
}
