---
import { getDisque, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.compact.astro";
import Field from "../Field.astro";
const { id } = Astro.props;
const disque = getDisque(id);
const { titre, commentaire, oeuvres, annee, interpretes_disque, maison } =
	disque;
---

<div>
	<h3>
		<a href={getPath(disque)}>{titre}</a>
	</h3>
	{oeuvres && <CatalogueRelated oeuvres={oeuvres} />}
</div>
