---
import { getDisque, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.compact.astro";
const { id } = Astro.props;
const disque = getDisque(id);
const {
	titre,
	oeuvres,
	// commentaire,
	// annee,
	// interpretes_disque,
	// maison,
} = disque;
---

<div>
	<h3 class="feed-heading">
		<a href={getPath(disque)}>{titre}</a>
	</h3>
	{oeuvres && <CatalogueRelated oeuvres={oeuvres} />}
</div>
