---
import { getDisques, getPath, getSectionPath, SectionId } from "../../content";
import T from "../T.astro";
import DisqueCover from "./DisqueCover.astro";

const disques = getDisques();
---

<section>
	<div class="disques-section contents">
		{
			disques
				.filter((disque) => disque.image)
				.slice(0, 6)
				.map((disque) => <DisqueCover id={disque.id} />)
		}
	</div>
	<a
		class="home-section-link link-heading"
		href={getSectionPath(SectionId.DISQUES)}><T k="voir_plus" /></a
	>
</section>

<style>
	.contents {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--spacing);
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>
