<section class="grid-layout">
	<div><slot name="main" /></div>
	<div><slot name="sidebar" /></div>
</section>

<style type="text/scss">
	.grid-layout {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: var(--spacing);
	}
</style>
