<section class="main-layout">
	<div class="heading"><slot name="heading" /></div>
	<div><slot name="content" /></div>
</section>

<style type="text/scss">
	.heading {
		margin-bottom: var(--spacing);
	}
</style>
