---
const { className } = Astro.props;
---

<section class={`subgrid-layout ${className}`}>
	<div class="col1">
		<div class="subgrid-heading"><slot name="col1" /></div>
	</div>
	<div class="main"><slot name="main" /></div>
</section>

<style lang="scss" type="text/scss">
	@import "../../styles/_breakpoints.scss";
	.subgrid-layout {
		@include breakpointOver(lg) {
			display: grid;
			grid-template-columns: minmax(120px, min-content) 1fr;
			gap: var(--doubleSpacing);
		}
	}

	.catalogue-year:not(:has(.catalogue-oeuvre.visible)) {
		display: none;
	}

	.subgrid-heading {
		@include breakpointUnder(lg) {
			margin-bottom: var(--spacing);
		}
		@include breakpointOver(lg) {
			position: sticky;
			top: 10px;
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
</style>
