<section class="subgrid-layout">
	<div class="col1">
		<div class="subgrid-heading"><slot name="col1" /></div>
	</div>
	<div class="main"><slot name="main" /></div>
</section>

<style type="text/scss">
	.subgrid-layout {
		display: grid;
		grid-template-columns: minmax(120px, min-content) 1fr;
		gap: var(--spacing);
	}

	.subgrid-layout:not(:has(.catalogue-oeuvre.visible)) {
		display: none;
	}

	.subgrid-heading {
		position: sticky;
		top: 10px;
	}

	.main {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
</style>
