---
import Layout from "../layouts/Layout.astro";
import { Content as BioFr } from "../content/biographie.short.fr.md";
import { Content as BioEn } from "../content/biographie.short.en.md";

import { Content as FullBioFr } from "../content/biographie.full.fr.mdx";
import { Content as FullBioEn } from "../content/biographie.full.en.mdx";
import PageLayout from "../components/layouts/PageLayout.astro";
import { getString } from "../helpers";
---

<Layout title={getString("actualites")?.t} }>
	<PageLayout sectionId="biographie" hasSidebar={false}>
		<div slot="page-heading">
			<h2>Biographie</h2>
		</div>
		<div slot="page-content">
			<BioFr />
			<hr />
			<FullBioFr />
		</div>
	</PageLayout></Layout
>
