---
import PageLayout from "../components/layouts/PageLayout.astro";
import { getString } from "../content";
import Layout from "../layouts/Layout.astro";
---

<Layout title={getString("contact")?.t}>
	<PageLayout>
		<div slot="page-content">
			<h2>Contact</h2>
			<p>A venir…</p>
		</div>
	</PageLayout>
</Layout>
