---
import Layout from "../layouts/Layout.astro";
import HomeBlock from "../components/HomeBlock.astro";
import { getSectionPath, getSection } from "../helpers";
import ConcertComponent from "../components/concerts/Concert.astro";
import type { ConcertWithId } from "../types";
const concertsSection = getSection<ConcertWithId>("concerts");
const { items: concerts } = concertsSection;
---

<Layout>
	<section class="first">
		<!-- <HomeBlock sectionId="concerts" /> -->
		<section class="concerts">
			<div class="concerts-block">
				<h4 class="block-heading">Concerts À Venir</h4>
				<div class="concerts-list">
					{
						concerts
							.filter((concert) => concert.date >= new Date())
							.map((concert) => (
								<ConcertComponent
									id={concert.id}
									variant="short"
								/>
							))
					}
				</div>
			</div>
			<div class="concerts-block">
				<h4 class="block-heading">Concerts Passés</h4>
				<div class="concerts-list">
					{
						concerts
							.filter((concert) => concert.date < new Date())
							.slice(0, 3)
							.map((concert) => (
								<ConcertComponent
									id={concert.id}
									variant="short"
								/>
							))
					}
				</div>
			</div>
			<a href={getSectionPath(concertsSection)}>Voir tous les concerts</a>
		</section>
		<!-- <HomeBlock sectionId="actualites" limit={2} /> -->
	</section>

	<!-- <section class="second">
		<HomeBlock sectionId="catalogue" />
		<HomeBlock sectionId="editeurs" />
		<HomeBlock sectionId="disques" />
	</section> -->
</Layout>

<style>
	html {
		--spacing: 80px;
	}
	.first {
		display: grid;
		gap: var(--spacing);
		grid-template-columns: 2fr 1fr;
		margin-bottom: var(--spacing);
	}
	.second {
		display: grid;
		gap: var(--spacing);
		grid-template-columns: 1fr 1fr 1fr;
	}
	.concerts {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.concerts-list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
</style>
