---
import { getConcert, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.compact.astro";
import Date from "../Date.astro";

const { id } = Astro.props;
const concert = getConcert(id);

const {
	date,
	titre,
	oeuvres,
	// interpretes,
	// adresse,
	// commentaire,
} = concert;
---

<div class="concert concert-compact">
	<Date date={date} />
	<h3>
		<a href={getPath(concert)}>{titre}</a>
	</h3>
	{oeuvres && <CatalogueRelated oeuvres={oeuvres} />}
</div>
