---
import { getConcerts, getPath, getSectionPath, SectionId } from "../../helpers";
import Date from "../Date.astro";
import T from "../T.astro";
import Concert from "./Concert.compact.astro";

const concerts = getConcerts();
const concert = concerts.at(0)!;

const {
	date,
	titre,
	oeuvres,
	// interpretes,
	// adresse,
	// commentaire,
} = concert;
---

<section>
	<div class="concerts-section-contents">
		<Date date={date} format="short" />
		<h3 class="link-heading feed-heading">
			<a href={getPath(concert)}>{titre}</a>
		</h3>
	</div>
	<a
		class="home-section-link link-heading"
		href={getSectionPath(SectionId.CONCERTS)}><T k="voir_plus" /></a
	>
</section>

<style>
	h3 {
		font-size: 1rem;
	}
</style>
