---
import { getConcert, getPath } from "../../helpers";

const { id } = Astro.props;
const concert = getConcert(id);

const { date, titre, commentaire } = concert;
---

<div>
	<h3>
		<a href={getPath(concert)}>{titre}</a>
	</h3>
	<h4>{date}</h4>
	<div set:html={commentaire} />
</div>
