---
import { getConcerts, SectionId } from "../../helpers";
import HomeSectionHeading from "../home/HomeSectionHeading.astro";
import Concert from "./Concert.compact.astro";

const concerts = getConcerts();
const lastConcert = concerts.at(0);
---

<div>
	<div class="concerts-section-contents">
		<Concert id={lastConcert.id} />
	</div>
</div>

<style></style>
