---
import {
	getActualite,
	getActualites,
	getItemsStaticPaths,
} from "../../helpers";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return getItemsStaticPaths(getActualites());
}

const { id } = Astro.params;
const actualite = getActualite(id);
const { titre, texte } = actualite;
---

<Layout title={titre}>
	<h1>
		{titre}
	</h1>

	<div set:html={texte} />
</Layout>
