---
import Actualite from "../../components/actualites/Actualite.astro";
import { getActualites, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Actualités">
	<h2>Actualités</h2>
	{getActualites().map(({ id }) => <Actualite id={id} />)}
</Layout>
