---
import Actualite from "../../components/actualites/Actualite.astro";
import PageLayout from "../../components/layouts/PageLayout.astro";
import { getActualites } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Actualités">
	<PageLayout>
		<h2 slot="page-heading">Actualités</h2>
		{
			getActualites().map(({ id }) => (
				<Actualite slot="page-content" id={id} />
			))
		}
	</PageLayout>
</Layout>
