---
import { getActualites, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Actualités">
	<h2>Actualités</h2>
	{
		getActualites().map((actualite) => {
			const { id, titre, date, texte } = actualite;
			return (
				<div>
					<h3>
						<a href={getPath(actualite)}>{titre}</a>
					</h3>
					<h5>{date}</h5>
					<div set:html={texte} />
					<hr />
				</div>
			);
		})
	}
</Layout>
