---
import { capitalizeFirstLetter } from "../helpers";

interface Props {
	date: Date;
}

const options: Intl.DateTimeFormatOptions = {
	weekday: "long",
	year: "numeric",
	month: "long",
	day: "numeric",
};

const formattedDate = capitalizeFirstLetter(
	Astro.props.date.toLocaleDateString("fr-FR", options)
);
---

<div class="date">{formattedDate}</div>

<style>
	.date {
		color: var(--textColorSecondary);
		line-height: 1;
		margin-bottom: var(--eighthSpacing);
	}
</style>
