---
interface Props {
	date: Date;
}

const options = {
	weekday: "long",
	year: "numeric",
	month: "long",
	day: "numeric",
};

function capitalizeFirstLetter(string) {
	return string.charAt(0).toUpperCase() + string.slice(1);
}

const formattedDate = capitalizeFirstLetter(
	Astro.props.date.toLocaleDateString("fr-FR", options),
);
---

<div class="date">{formattedDate}</div>

<style>
	.date {
		color: var(--textSecondaryColor);
		margin-bottom: var(--quarterSpacing);
		line-height: 1;
	}
</style>
