---
import { capitalizeFirstLetter, getCurrentLocale } from "../helpers";

interface Props {
	date: Date;
	format?: "long" | "short";
}

const { date, format = "long" } = Astro.props;

const options: Intl.DateTimeFormatOptions =
	format === "long"
		? {
				weekday: "long",
				year: "numeric",
				month: "long",
				day: "numeric",
			}
		: {
				year: "numeric",
				month: "numeric",
				day: "numeric",
			};

const formattedDate = capitalizeFirstLetter(
	date.toLocaleDateString(getCurrentLocale(), options)
);
---

<div class="date">{formattedDate}</div>

<style>
	.date {
		/* font-family: var(--fontFamilySecondary); */
		color: var(--textColorSecondary);
		margin-bottom: var(--quarterSpacing);
	}
</style>
