---
import footerLinks from '../data/footer_links.yml'
import T from './T.astro';
const year = new Date().getFullYear();

---

<div class="home-section section-footer footer">
    <div class="bg"></div>
    <div class="content">
<ul class="items-list">
    {footerLinks.map((link)=><li><a href={`/${link.id}`}><T k={link.id}/></a></li> )}
    </ul>
<p>&copy; Association Olivier Greif {year}</p>
</div>
</div>

<style>
	.footer {
		font-family: var(--fontFamilySecondary);

		text-align: center;
		// margin-top: var(--spacing);
		padding: var(--spacing);
        display: grid;
        place-items: center;
	}
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: var(--halfSpacing);
        display: flex;
        flex-direction: column;
        gap: var(--quarterSpacing);
        li {
            padding: 0;
            margin: 0;
        }
    }
    a {
        font-size: 0.9rem;
    }
    p{
        font-size: 0.7rem;
		text-transform: uppercase;

    }
</style>
