---
import { getPath, getSection, getSectionPath } from "../helpers";

const { sectionId, limit = 5 } = Astro.props;
const section = getSection(sectionId);
const { items, label, moreLabel, component: ItemComponent } = section;
---

<section>
	<h2>{label}</h2>
	<div>
		{items.slice(0, limit).map((item) => <ItemComponent id={item.id} />)}
	</div>
	<a href={getSectionPath(section)}>{moreLabel}</a>
</section>
