---
import { getSection, getSectionPath } from "../helpers";
import type { SectionId } from "../helpers";

interface Props {
	sectionId: SectionId;
	limit: number;
}

const { sectionId, limit = 5 } = Astro.props;
const section = getSection(sectionId);
const { items, label, moreLabel, component: ItemComponent } = section;
---

<section>
	<h4 class="block-heading">{label}</h4>
	<div class="block-content">
		{
			items
				.slice(0, limit)
				// @ts-ignore
				.map((item) => <ItemComponent id={item.id} variant="short" />)
		}
	</div>
	<a href={getSectionPath(section)}>{moreLabel}</a>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.block-content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
</style>
