<ul>
	<li><a href="/">Accueil</a></li>
	<li><a href="/catalogue">Catalogue</a></li>
	<li>
		<a href="/concerts">Concerts</a>
	</li>

	<li><a href="/disques">Disques</a></li>
	<li>
		<a href="/editeurs">Editeurs</a>
	</li>
	<li>
		<a href="/actualites">Actualites</a>
	</li>
	<li>
		<a href="/biographie">Biographie</a>
	</li>
	<li>
		<a href="/association">Association</a>
	</li>
	<li>
		<a href="/liens">Liens</a>
	</li>
	<li>
		<a href="/contact">Contact</a>
	</li>
</ul>
