---
import Disque from "../../components/disques/Disque.astro";
import PageLayout from "../../components/layouts/PageLayout.astro";
import SidebarBlock from "../../components/SidebarBlock.astro";
import T from "../../components/T.astro";
import { getDisqueBySlug, getDisques, SectionId } from "../../content";
import { getItemIdFromSlug, getItemsStaticPaths } from "../../helpers";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return getItemsStaticPaths(getDisques());
}

const { id: slug } = Astro.params;
const disque = getDisqueBySlug(slug)!;
const { titre, ecouter, liens, acheter, id } = disque;
---

<Layout title={titre}>
	<PageLayout sectionId={SectionId.DISQUES}>
		<h2 slot="page-heading">
			{titre}
		</h2>
		<div slot="page-content"><Disque id={id} /></div>

		{
			acheter && acheter.length > 0 && (
				<SidebarBlock
					k="acheter"
					items={acheter.map(({ id, url }) => ({
						k: id,
						url,
					}))}
					slot="page-sidebar"
				/>
			)
		}

		{
			ecouter && ecouter?.length > 0 && (
				<SidebarBlock
					k="ecouter"
					items={ecouter.map(({ id, url }) => ({ k: id, url }))}
					slot="page-sidebar"
				/>
			)
		}

		{
			liens && liens.length > 0 && (
				<SidebarBlock
					k="liens"
					items={liens.map(({ titre, url }) => ({
						label: titre,
						url,
					}))}
					slot="page-sidebar"
				/>
			)
		}
	</PageLayout>
</Layout>
