---
import Disque from "../../components/disques/Disque.astro";
import PageLayout from "../../components/layouts/PageLayout.astro";
import {
	getDisque,
	getDisques,
	getItemsStaticPaths,
	SectionId,
} from "../../helpers";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return getItemsStaticPaths(getDisques());
}

const { id } = Astro.params;
const oeuvre = getDisque(id);
const { titre } = oeuvre;
---

<Layout title={titre}>
	<PageLayout sectionId={SectionId.DISQUES}>
		<h2 slot="page-heading">
			{titre}
		</h2>
		<div slot="page-content"><Disque id={id} /></div></PageLayout
	>
</Layout>
