---
import {  getDisque, getDisques, getPaths } from '../../helpers'
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return getPaths(getDisques())
}

const { id } = Astro.params;
const oeuvre = getDisque(id)
const {titre, commentaire} = oeuvre
---

<Layout title={titre}>
<h1>
{titre}
</h1>

<div set:html={commentaire}></div>
</Layout>