---
import { getDisques, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Disques">
	<h2>Disques</h2>
	{
		getDisques().map((disque) => {
			const { id, titre } = disque;
			return (
				<div>
					<h2>
						<a href={getPath(disque)}>{titre}</a>
					</h2>
				</div>
			);
		})
	}
</Layout>
