---
import { getDisques } from '../../helpers';

import Layout from '../../layouts/Layout.astro';
---

<Layout title="Disques">
    <h2>Disques</h2>
    {(getDisques()).map(({id, titre}) => <div><h2><a href={id}>{titre}</a></h2></div>)}
</Layout>