---
import Disque from "../../components/disques/Disque.compact.astro";
import { getDisques, getItemsByYear } from "../../helpers";
import PageLayout from "../../components/layouts/PageLayout.astro";
import SubgridLayout from "../../components/layouts/SubgridLayout.astro";
import type { DisqueWithId } from "../../types";
import Layout from "../../layouts/Layout.astro";

const disques = getDisques();
const disquesByYear = getItemsByYear<DisqueWithId>(disques);
---

<Layout title="Disques">
	<PageLayout
		><h2 slot="page-heading">Disques</h2>
		{
			disquesByYear.map((yearItem) => (
				<SubgridLayout slot="page-content">
					<div slot="col1">
						<h4>{yearItem.year}</h4>
					</div>
					<div class="feed-items" slot="main">
						{yearItem.items.map((disque) => (
							<Disque id={disque.id} />
						))}
					</div>
				</SubgridLayout>
			))
		}
	</PageLayout>
</Layout>
