---
import Disque from "../../components/disques/Disque.astro";
import { getDisques, getPath } from "../../helpers";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="Disques">
	<h2>Disques</h2>
	{getDisques().map((disque) => <Disque id={disque.id} />)}
</Layout>
