---
import Disque from "../../components/disques/Disque.compact.astro";
import { getDisques, getItemsByYear } from "../../helpers";
import PageLayout from "../../components/layouts/PageLayout.astro";
import SubgridLayout from "../../components/layouts/SubgridLayout.astro";
import type { DisqueWithId } from "../../types";
import Layout from "../../layouts/Layout.astro";

const disques = getDisques();
---

<Layout title="Disques">
	<PageLayout sectionId="disques">
		<div class="disques-grid" slot="page-content">
			{disques.map((disque) => <Disque id={disque.id} />)}
		</div>
	</PageLayout>
</Layout>

<style>
	.disques-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--doubleSpacing);
	}
</style>
