---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { ClientRouter } from "astro:transitions";
// import { fade } from "astro:transitions";

interface Props {
	title?: string;
}

const { title } = Astro.props;
const fullTitle = title ? `Olivier Greif | ${title}` : "Olivier Greif";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
		<!-- <ClientRouter /> -->


        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main-content">
			<!-- <h1><a href="/">Olivier Greif</a></h1>
			<Nav /> -->
			<slot />
		</div>
		<!-- <Footer /> -->
	</body>
</html>


<script>
	document.querySelectorAll(".section-link").forEach((item) => {
		item.addEventListener("click", (e) => {
			e.preventDefault();
			const href = item.getAttribute("href");

			document.startViewTransition(() => {
				window.location.href = href || "";
			});
		});
	});
</script>

<style is:global>
	/* https://www.joshwcomeau.com/css/custom-css-reset/
	*/
	/*
  1. Use a more-intuitive box-sizing model.
*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	/*
  2. Remove default margin
*/
	* {
		margin: 0;
	}
	/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	/*
  5. Improve media defaults
*/
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	/*
  6. Remove built-in form typography styles
*/
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	/*
  7. Avoid text overflows
*/
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
	/*
  8. Create a root stacking context
*/
	#root,
	#__next {
		isolation: isolate;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		/* --bgColor: rgb(132, 214, 223); */
        --bgColor: #ffa73c;
        --bgColorSecondary: #69d8e9;
		--textColor: #25190b;
		--textColorSecondary: #25190b;
		--invertedTextColor: #C9E1E5;
		--invertedHoverTextColor: #fff;
		--linkColor: #0f3f46dd;
		--linkHoverColor: #fff;
		--borderColor: rgba(255,255,255,1);
		--borderWidth: 2px;
		--doubleSpacing: 40px;
		--spacing: 20px;
		--halfSpacing: 10px;
		--quarterSpacing: 5px;
		--eighthSpacing: 2px;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		font-family: "Work Sans", sans-serif;
		font-family: "Lexend", sans-serif;
		font-optical-sizing: auto;
		font-weight: normal;
		font-style: normal;
		line-height: 1.6;
		/* border: var(--linkColor) 10px solid; */
		/* padding: 80px; */
		margin: 0;
		font-size: 18px;
		min-height: 100vh;
		color: var(--textColor);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		/* font-family: "Playfair Display", serif; */
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		margin: 0;
		margin-bottom: var(--eighthSpacing);
		line-height: 1.3;
	}
	p {
		margin-bottom: var(--quarterSpacing);
	}
	a {
		text-decoration: none;
        font-weight: bold;
		&:link,
		&:visited {
			color: var(--linkColor);
		}
		&:hover {
			color: var(--linkHoverColor);
		}
	}
	h1 {
		font-size: 5rem;
		line-height: 1;
		a,
		a:link,
		a:visited {
			color: #2f2a24;
		}
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.5rem;
        color: var(--textColorSecondary);
        font-weight: normal;
		&.block-heading {
			border-bottom: 1px solid #c3af98;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
	h5 {
		font-size: 1.2rem;
	}
	.items {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
	.main-content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}
	.content-block {
		display: flex;
		flex-direction: column;
		gap: var(--quarterSpacing);
	}
	.feed-items {
		display: flex;
		flex-direction: column;
		gap: var(--doubleSpacing);
	}
	main {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		max-width: 1000px;
	}

	.grid {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: var(--spacing);
	}
	.sidebar {
	}
	.sidebar-contents {
		// position: sticky;
		// top: 10px;
		display: flex;
		flex-direction: column;
		gap: var(--halfSpacing);
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		text-indent: 0;
		border-top: 1px solid #ddd;

		th,
		td {
			text-align: left;
			text-align: start;
			vertical-align: top;
			padding-bottom: var(--quarterSpacing);
			padding-top: var(--quarterSpacing);
			border-bottom: 1px solid #ddd;
		}
		th {
			width: 200px;
		}
		tr {
		}
	}
	ul.items-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: var(--quarterSpacing);
		li {
			/* border-bottom: var(--borderWidth) solid var(--borderColor); */
			margin: 0;
			padding-bottom: var(--quarterSpacing);
			&:last-child {
				border: none;
				padding-bottom: 0;
			}
		}
	}

	.link-heading {
		a {
			color: var(--textColor);
			display: flex;
			/* justify-content: space-between; */
            gap: var(--quarterSpacing);
			align-items: center;
			&:hover {
				&::after {
					content: "→";
					display: inline-block;
					color: var(--textColor);
				}
			}
		}
	}
	.subheading {
		font-family: "Work Sans", sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		color: var(--textColorSecondary);
		margin-bottom: var(--quarterSpacing);
		font-size: 1.2rem;
	}
	.heading-metadata {
		color: var(--textColorSecondary);
		/* font-weight: normal; */
		font-size: 50%;
	}

	@view-transition {
		navigation: auto;
	}

	/* Customize the default animation behavior */

	/* ::view-transition-group(root) {
		animation-duration: 0.5s;
	} */
	::view-transition-old(section-concerts),
	::view-transition-new(section-concerts),
	::view-transition-old(heading-concerts),
	::view-transition-new(heading-concerts) {
		/* animation: none; */
	}


    .thumbnail {
		border: var(--borderWidth) solid #00000066;
        filter: grayscale(0.8);
        transition: all 300ms ease-out;
        &:hover {
            filter: grayscale(0);
            border: var(--borderWidth) solid var(--borderColor);
        }
    }
   
</style>
