---
import { getSectionPath, SectionId } from "../../content";
import { Content as BioFr } from "../../content/biographie.excerpt.fr.md";
import T from "../T.astro";
---

<section>
	<div class="biographie-section-contents">
		<BioFr />
	</div>

	<a
		class="home-section-link link-heading"
		href={getSectionPath(SectionId.BIOGRAPHIE)}><T k="lire_la_suite" /></a
	>
</section>

<style>
	.biographie-section-contents {
		margin-bottom: var(--halfSpacing);
	}
</style>
