---
import { getSection, getSectionPath, SectionId } from "../../helpers";
import { Content as BioFr } from "../../content/biographie.short.fr.md";
import HomeSectionHeading from "../home/HomeSectionHeading.astro";
---

<div>
	<div class="biographie-section-contents">
		<BioFr />
	</div>

	<div class="home-section-link">
		<a href={getSectionPath(getSection(SectionId.BIOGRAPHIE))}>Voir plus…</a
		>
	</div>
</div>

<style>
	.biographie-section-contents {
		max-height: 100px;
		overflow: hidden;
	}
</style>
