---
import { getSection, getSectionPath, SectionId } from "../../helpers";
import { Content as BioFr } from "../../content/biographie.excerpt.fr.md";
import T from "../T.astro";
---

<div>
	<div class="biographie-section-contents">
		<BioFr />
	</div>

	<div class="home-section-link">
		<a
			class="link-heading"
			href={getSectionPath(getSection(SectionId.BIOGRAPHIE))}
			><T k="lire_la_suite" /></a
		>
	</div>
</div>

<style>
	.biographie-section-contents {
		margin-bottom: var(--halfSpacing);
	}
</style>
